<body bgcolor="#f60">
    <table
        style="margin:0px;padding:0px;border-collapse:collapse;border-spacing:0;width: 100%;max-width: 550px;margin: 20px auto;text-align:center;border:2;">
        <tr>
            <td colspan="3">
                <img width="100%" src="https://trunk.tst.wukongbox.cn/wukongbox.jpeg"
                    style="box-shadow:0px 13px 10px #888888;margin-top:100px;margin-left:10px">
                <h5 style='text-align:center;color:#fff;font-family:futura;margin:-170px'>{{ .version }}</h5>
                <div style="margin:0;padding-top:200px;text-align: center;width: 100%;margin-bottom:150px;">
                    <a href={{ .url }} target="_blank" class="cta-button"
                        style="margin:0;padding:0;display:inline-block;background:#f16c45;color:#fff;text-decoration:none;padding:10px 15px;border-radius:5px;font-size:12px;letter-spacing:1px;font-weight:200;margin:10px auto;">更新日志</a>
                </div>
            </td>
        </tr>
    </table>
</body>